body {
padding: 30px;
}
.header {
    margin:20px 0 0 0;
    border-bottom:1px solid #e3e3e3;
}
.header td {
    padding:0;
}
.navbar {
	margin-bottom: 30px;
	line-height: 20px;
}
.navbar-fixed-top {
	background-color: #e3e3e3;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	padding: 5px 10px;
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #D3DAED;
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #D3DAED;
    color: #ffffff;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}
.navbar-right > li {
	margin-top: 5px;
	margin-bottom: 5px;
    color: #ffffff;
    font-size: 0.8em;
}
.container .navbar-header {
	line-height:20px;
}